<div class="background text-center" style="background-image: url(../../../../assets/bg.jpg) ;">
  <div class="card shadow" style="width: 350px; border-radius: 20px;">
    <form
    class="form-signin animated fadeIn"
    autocomplete="off"
    [formGroup]="registerForm"
    (ngSubmit)= "register()"
  >
    <img class="mb-4 img" src="assets/logo.png" alt="logo" />
    <h1 class="h3 mb-3 font-weight-normal">Cadastro</h1>
    <label class="sr-only" for="inputUser">Nome de usuario</label>
    <input
      type="text"
      class="form-control mb-2"
      id="inputUser"
      placeholder="Nome"
      formControlName="username"
      [class.is-invalid]="usernameValidate"
    />
    <label class="sr-only" for="inputEmail">E-Mail</label>
    <input
      type="email"
      class="form-control mb-2"
      id="inputEmail"
      placeholder="E-Mail"
      formControlName="email"
      [class.is-invalid]="emailValidate"
    />
    <label class="sr-only" for="inputPassword">Senha</label>
    <input
      type="password"
      class="form-control mb-3"
      id="inputPassword"
      placeholder="Senha"
      formControlName="password"
      [class.is-invalid]="passwordValidate"
    />
    <label class="sr-only" for="inputPassword2">Confirmar Senha</label>
    <input
      type="password"
      class="form-control mb-3"
      id="inputPassword2"
      placeholder="Confirmar Senha"
      formControlName="password2"
      [class.is-invalid]="password2Validate"
    />
    <button type="submit" class="btn btn-lg btn-primary btn-block mb-2" [disabled]="password2Validate">
      Cadastro
    </button>
    Já possuo uma conta:<a [routerLink]="['/login']">  Entrar </a>
  </form>
  </div>
   
  </div>